# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\TTIK\MSc\3 felev - 2022-23-2\Utemezesi_beadando\Utemezesi-beadando\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
